<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <!-- Loading up jQuery from Google -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Anime Recommender System</title>
  </head>
  <body>
    <h1>Anime Recommender</h1>
    <p>Looking for new anime to watch? Check out my recommender system!</p>

    <form action="" method="post">
      <!-- Default CSS slider with a width customization defined in my stylesheet -->
      <div class="slidecontainer">
        <input id="rec_slider" name="adventurous_level" type="range" min="0" max="2" value="1" step="0.1" class="slider">
        <br>
        <!-- Labels for slider -->
        <div class="same_line">
            <div class="slider_label_left">Less Adventurous</div>
            <div class="slider_label_center">Balanced</div>
            <div class="slider_label_right">More Adventurous</div>
        </div>
      </div>
      <br>
      <div>
        <label for="user_id">MyAnimeList User ID:</label>
        <br>
        <input type="text" name="user_id">
      </div>
      <br>
      <div>
        <input type="submit" value="Recommend" onclick="$('#loading').show();">
      </div>
    </form>

    <div id="loading" style="display:none;"><img src="{{ url_for('static', filename='ajax-loader.gif') }}" alt="A loading gif">
      <br>
      Loading...
    </div>
  </body>
</html>
